@import url(base.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,900");
body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  body .wrapper {
    max-width: 800px;
    max-height: 200px; }
    body .wrapper .text-area {
      margin-left: 15rem; }
      body .wrapper .text-area h1 {
        text-transform: uppercase;
        font-size: 5.5rem;
        font-weight: 900;
        color: #f8d902;
        background: black;
        display: inline;
        padding: 0.05rem 1rem; }
        body .wrapper .text-area h1 span {
          padding: 0.05rem 1rem 0.05rem 1rem;
          margin-top: 1.2rem;
          display: inline-block;
          margin-bottom: 0.6rem;
          font-style: italic; }
      body .wrapper .text-area a {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.7rem 1.1rem;
        background: #f8d902;
        color: black;
        font-size: 1rem;
        transition: all 200ms ease-in-out; }
        body .wrapper .text-area a:hover {
          background: black;
          color: #f8d902; }
        body .wrapper .text-area a .ion-chevron-right {
          padding-left: 0.5rem; }

@media (max-width: 860px) {
  .wrapper .text-area#mainContent h1 {
    font-size: 4rem; }
    .wrapper .text-area#mainContent h1 span {
      margin-top: 0.8rem;
      margin-bottom: 0.4rem; }
  .wrapper .text-area#mainContent a {
    font-size: 0.7rem;
    padding: 0.3rem 1.1rem; } }
@media (max-width: 700px) {
  .wrapper {
    display: flex;
    flex-direction: row; }
    .wrapper .text-area#mainContent {
      margin: auto;
      text-align: left; }
      .wrapper .text-area#mainContent a {
        display: block;
        width: 8rem; } }
@media (max-width: 450px) {
  .wrapper .text-area#mainContent h1 {
    font-size: 2rem; }
    .wrapper .text-area#mainContent h1 span {
      margin-top: 0.5rem;
      margin-bottom: 0.3rem; }
  .wrapper .text-area#mainContent a {
    font-size: 0.5rem;
    width: 6rem; } }
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(248, 217, 2, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out; }
  .overlay.is-open {
    opacity: 1;
    pointer-events: auto; }
    .overlay.is-open .modal {
      transform: translate(0px, 0px); }
  .overlay .modal {
    transform: translate(0px, -100px);
    transition: all 500ms cubic-bezier(0.25, 0.35, 0, 1.74);
    max-width: 600px;
    background: white;
    box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.59);
    position: relative; }
    .overlay .modal .close {
      font-size: 30px;
      line-height: 1;
      text-align: center;
      position: absolute;
      top: -40px;
      right: -40px;
      width: 30px;
      height: 30px;
      transition: all 200ms ease-in-out; }
      .overlay .modal .close:hover {
        transform: scale(1.3); }
    .overlay .modal .text-box {
      width: 55%;
      padding: 30px; }
      .overlay .modal .text-box h1 {
        font-size: 25px;
        padding-bottom: 20px;
        font-family: Montserrat;
        font-weight: 500; }
      .overlay .modal .text-box p {
        color: #999999;
        font-size: 18px;
        padding-right: 15px;
        padding-bottom: 2rem; }
    .overlay .modal .graphic {
      background-image: url("../img/presentation.png");
      background-position: bottom left;
      position: absolute;
      top: 0;
      right: 0;
      width: 260px;
      height: 260px; }
    .overlay .modal form {
      position: relative;
      z-index: 2;
      background: black;
      padding: 20px;
      display: flex; }
      .overlay .modal form input {
        height: 60px;
        border: none;
        display: inline-block;
        padding: 0 30px;
        font-size: 18px; }
        .overlay .modal form input:focus {
          outline: none;
          box-shadow: 0px 0px 0px 2px #f8d902 inset; }
        .overlay .modal form input[type="text"] {
          flex: 1; }
        .overlay .modal form input[type="submit"] {
          background: #f8d902;
          margin-left: 10px;
          color: black;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 200ms ease-in-out;
          border: 1px solid #f8d902; }
          .overlay .modal form input[type="submit"]:hover {
            background: black;
            color: #f8d902;
            border: 1px solid #f8d902; }

@media (max-width: 725px) {
  .overlay .modal .close {
    right: 0; } }
@media (max-width: 650px) {
  .overlay .modal {
    max-width: 500px; }
    .overlay .modal .text-box {
      padding: 30px 10px 10px 10px;
      width: 90%;
      text-align: center;
      margin-left: 20px; }
      .overlay .modal .text-box p {
        padding-bottom: 0.5rem; }
    .overlay .modal .graphic {
      display: none; } }
@media (max-width: 550px) {
  .overlay .modal {
    width: 400px; }
    .overlay .modal .text-box h1 {
      font-size: 2rem; }
    .overlay .modal .text-box p {
      font-size: 1rem; }
    .overlay .modal form {
      padding: 0.5rem; }
      .overlay .modal form input[type='submit'] {
        margin-left: 0; }
      .overlay .modal form input {
        height: 2rem;
        border: none;
        display: inline-block;
        padding: 0 15px;
        font-size: 0.7rem; } }
@media (max-width: 450px) {
  .overlay .modal {
    width: 200px;
    text-align: center; }
    .overlay .modal .text-box {
      width: 90%;
      padding: 10px;
      margin-left: 0; }
      .overlay .modal .text-box h1 {
        font-size: 1rem;
        padding: 0; }
      .overlay .modal .text-box p {
        font-size: 0.5rem;
        padding: 0;
        margin: 0; }
    .overlay .modal form {
      padding: 0.5rem; }
      .overlay .modal form input[type='submit'] {
        margin-left: 0; }
      .overlay .modal form input {
        height: 1rem;
        border: none;
        display: inline-block;
        padding: 0 10px;
        font-size: 0.4rem; } }
